<html>
	<head>
		<link rel="stylesheet" href="assets/css/index.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
	</head>
	<body >
		<header class="padding_4 border-bottom-width_4 border_primary border_solid grid-x">
			<div class="back_secondary-3 cell small-6 medium-3 font_4 padding_3">Logo</div>
			<div class="cell auto text-center font_3 padding_4 font_slab color_acc show-medium">
				COP QuickPrint
			</div>
			<div class="cell small-6 medium-3 padding_4">
				<select name="" id="" class="margin_0">
					<option value="">English</option>
				</select>
			</div>

		</header>
		<section class="body texture-medium back_secondary-4 padding_5">
			<div class="grid-x">
				 {% block Badge %}{% endblock %}
			</div>
		</section>
		<section class="body texture-medium back_secondary-4 padding_5">
			<div class="grid-x">
				{% block Confirm %}{% endblock %}
			</div>
		</section>
		<section class="body texture-medium back_secondary-4 padding_5">
			<div class="grid-x">
				{% block Questions %}{% endblock %}
			</div>
		</section>
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
	</body>
</html>