<html>
	<head>
		<link rel="stylesheet" href="assets/css/index.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
	</head>
	<body>
	<div class="off-canvas position-right back_secondary-n3 texture_medium" id="offCanvas" data-off-canvas>
			 	<button class="close-button" aria-label="Close menu" type="button" data-close>
			      <span aria-hidden="true">&times;</span>
			    </button>
   			 <!-- Your menu or Off-canvas content goes here -->
   		 {% include "include/language.html" %}
 		 </div>
		<div class="off-canvas-content" data-off-canvas-content>
			 <!-- Your content goes here -->
			{% include "include/app_header.html" %}
			<section class="back_primary-2 back_whtite body texture_light">
				{% block content %}{% endblock %}
			</section>
		</div>
		{% include "include/scripts.html" %}       
	</body>
</html>