{% extends "layout-cert.html" %} {% block content %}
<div class="back_white cell  margin_0 padding-left_5 padding-right_5 padding_3 shadow_3 small-1 text-center">
    <a href="/COP-Print/" class="button  border_radius success margin-bottom_0"><i class="fas fa-check"></i> Certificate Only</a>
    <a href="/COP-Print/" class="button  border_radius secondaryalt margin-bottom_0">Certificate with Sessions</a>
</div>
<div class="padding_5 cell auto">
    <div class="cell small-12 medium-8 float-center">
        <div class="card margin-bottom_5 margin_auto shadow_4 " style="max-width: 960px;">
           <div class="padding_3"> <img src="https://picsum.photos/960/500" alt="" class="border_solid border_black-5 border-width_1"></div>
            <div class="card-divider border-top-left-square color_black padding_2 texture_dust back_primary_2">
                <h5 class="text-center font_nomral font_n1 font_italic" style="width:100%">certificate preview</h5>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="text-center">
            <a href="/COP-Print/" class="button large round navigation"><i class="fas fa-at"></i> Email</a>
            <a href="/COP-Print/" class="button large round navigation"><i class="fas fa-print"></i> Print</a>
   
        </div>
        <div class="text-center border-top-width_1 border_dashed border_primary">
        	<a href="/COP-Print/" class="clear button small"> <i class="fas fa-sync"></i> reset session</a>
        </div>
    </div>
</div>
{% endblock %}